<section class="sectionMainPage">
  <form action="/results">
  <h4>Tell us what you eat and we will tell you what to drink</h4>
    <input 
    type="text"
    name= "food"
    >
    <button>Pair Wine</button>
  </form>
</section>
